{% extends 'base.html' %}
{% block title %} Usuarios Registereds {% endblock %}

{% block head %}
  <h1>Colaboradores</h1>
{% endblock %}

{% block body %}
<ul>
	{% for dato in usuarios %}
	<li>{{dato.username|capfirst}} - <em>{{dato.email}}</em>
		<ul>
			{% for item in recipes %}
				{% if item.usuario == dato %}
					<li>{{item}}</li>
				{% endif %}
			{% empty %}
				<li>Este usuario aún no ha Registered recipes.</li>
			{% endfor %}
		</ul>
	</li>
	{% empty %}
	<li>No hay usuarios Registereds, aún.</li>
	{% endfor %}
</ul>
{% endblock %}
